<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Aktivitetsrapport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Aktivitetsrapport.Properties.Settings>
            <setting name="Sleep" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SitLie" serializeAs="String">
                <value>1,2,11</value>
            </setting>
            <setting name="Stand" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Walk" serializeAs="String">
                <value>4,5,6,7,8</value>
            </setting>
            <setting name="CLI_steps" serializeAs="String">
                <value>34</value>
            </setting>
        </Aktivitetsrapport.Properties.Settings>
    </userSettings>
</configuration>